.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 30px 0;
  }
  body{
      background-color: coral;
  }
  .heading{
    text-align:center;
    font-weight:90;
  }
  .keyboard101 {
    margin: 0 auto;
    width: 600px;
    background-color: #013220;
    border-radius: 15px;
    border-top-color: or;
    border-bottom-color: black;
  }
  .key {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: none;
    background-color: #F3F6F6;
  }
  .key:active {
    transform: translateY(2px);
    box-shadow: 0 0px 0px transparent;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .spaceBar {
    width: 500px;
  }
  .spaceBar:active {
    transform: translateY(2px);
  }
  .text {
    margin: 0 auto;
    width: 500px;
    display: block;
    margin-bottom: 50px;
    border: 2px solid lightskyblue;
  }
  .text:focus {
    outline: none;
  }

  